

.infor__list{
    background-image: linear-gradient(to bottom right,#8289f4,#7F6EB2);
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    
}
.infor__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
}
.infor__slider{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.infor__slider > img{
    border-radius: 5px;
    width: 90%;
    margin-right: 50px;
    margin: 0 10px;
    box-shadow: 2px 5px 9px 5px rgb(136, 133, 133);
    cursor: pointer;
}

.infor__content{
    flex: 1;
    width: 50%;
    height: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.infor__content .product-section-title{
    font-size: 24px;
    color: #333;
    font-weight: 500;
    line-height: 2.0;
    font-style:inherit;
    text-align: center;
    margin: 10px 20px;
    border-bottom: 2px solid rgb(171, 167, 167);
}
.product-price-item{
    display: flex;
    flex-direction: column;
}
.infor__table{
    height: 70%;
    margin-left: 20px;
}
.infor__table td{
    font-size: 16px;
}
.infor-text{
    margin-left: 16px;
    font-size: 18px;
}
.infor__text{
    line-height: 1.3;
    font-size: 18px;
}
.infor__btn{
    flex: 1;
    border: none;
    background-color: #ee4d2d;
    border-radius: 10px;
    width: 45%;
    height: 50px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}
.shoping__icon{
    padding-top: 5px;
}
.infor__shoping{
    display: flex;
    padding-top: 10px;
    
}
.shoping__item{
    flex: 1;
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    align-items: center;
    background-color: #e0e0e0;
    height: 50px;
}
.shoping__text{
    padding-top: 5px;
    font-size: 18px;
    color: #e93e3e;
}


.product-price-item{
    font-size: 24px;
    line-height: 2.0;
    margin-right: 10px;
}
.product-price-value{
    margin-right: 20px;
    font-size: 24px;
    color: rgb(215, 46, 23);
    font-weight: 560;
    float: right;
}
.infor__slider p{
    margin-left: 10px;
    margin-top: 5px;

}
.infor__slider p img{
     border-radius: 8px;
}
.infor__slider p img:hover{

   
    border: 2px solid rgb(149, 125, 125);
    display: inline-block;
    cursor: pointer;
} 



.lamborghini_gallardo_spyder.open,
.lamborghini_avendator_svj.open,
.lamborghini_huracan_performante.open,
.lamborghini_reventon.open,
.lamborghini_urus_mansory.open,
.lamborghini_murcielago_sv.open,
.lamborghini_aventador_svj_roadster.open,
.lamborghini_aventador_sv_roadster.open,
.lamborghini_aventador_lp_700_4.open,
.lamborghini-aventador_lp750_4_sv.open,
.porsche_panamera_platinum_edition.open,
.porsche_918_spyder.open,
.porsche_cayenne_gts.open,
.porsche_718_boxster_spyder.open,
.porsche_cayman_gt4.open,
.porsche_718_boxster.open,
.porsche_911_gt2_rs_weissach.open,
.porsche_carrera_gt.open,
.porsche_911_gt3_rs.open,
.porsche_911_gt3_rs_weissach.open,
.porsche_959.open,
.porsche_911_turbo_s_cabriolet.open,
.porsche_911_turbo_s.open,
.Porsche_718_Boxster_GTS.open,
.bugatti_veyron_linea_vivere.open,
.bugatti_veyron_grand_sport.open,
.bugatti_chiron_divo.open,
.bugatti_chiron_yellow_and_black.open,
.bugatti_centodieci.open,
.bugatti_chiron_pur_sport.open,
.mclaren_elva_1_of_149.open,
.mclaren_p1_1_of_350.open,
.mclaren_p1_carbon_series_1_of_5.open,
.mclaren_675_lt.open,
.mclaren_enna_1_of_500_blue.open,
.mclaren_765lt_1_of_765.open,
.mclaren_675lt_1_of_500.open,
.mclaren_p1_1_of_375.open,
.rolls_royce_ghost_ewb_black.open,
.rolls_royce_cullinan_grey.open,
.rolls_royce_ghost_blue_white.open,
.rolls_royce_phantom_white.open,
.rolls_royce_wraith.open,
.rolls_royce_cullinan_black_badge_white.open,
.rolls_royce_phantom_drophead_zenith_edition.open,
.rolls_royce_ghost.open,
.rolls_royce_phantom_coupe_one_of_one.open,
.rolls_royce_cullinan_blue.open,
.rolls_royce_wraith_black_badge.open
{
    display: flex;
}


