
/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .logo{
    position: absolute;
    left: 0;
    top: 0;
    }
    .logo-img{
        width: 120px;
        margin-left: 5px;
    }
    .slider{
        width: 100vw;
    }
    .slider__list{
        width: 100%;
    }
    .slider__list img {
        display: block;
        max-height: 350px;
    
    }
    .product_sp{
        padding-bottom: 20px;
    }
    .nav{
        position: fixed;
        width: 60vw;
        background-color: #3D5060;
        top: 0;
        right: 0;
        height: 100vh;
        display: block;
        transition: 0.5s;
        transform: translate(100%,0);
   
    }
    .nav__list{
        width: 100%;
        padding: 0 50px;
        height: 80%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
       

    }
    .nav__item{
        width: 100%;
        display: block;
        /* height: max-content; */
        position: unset;
        border-bottom: 2px solid #384857;
        font-weight: 500;
    }
    .nav__item-link{
        justify-content: end;
    }

  
    .nav .openNav{
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        width: 55px;
        height: 55px;
        background-color: #ffffff77;
        padding: 10px;
    }
    .nav .openNav span{
        display: block;
        background-color: #000;
        width: 35px;
        height: 4px;
        margin: 6px 0;
        transition: 1s;
    }
    .nav:has(input[name="openNav"]:checked){
        transform: translate(0,0);
    }
    .nav:has(input[name="openNav"]:checked) .openNav span:nth-child(2){
        opacity: 0;
        transition: 0s;
    }
    .nav:has(input[name="openNav"]:checked) .openNav span:nth-child(1){
       transform: rotate(45deg) translate(9px,8px);
    }
    .nav:has(input[name="openNav"]:checked) .openNav span:nth-child(3){
        transform: rotate(-45deg) translate(6px,-5px);
     }
     .nav input{
        display: none;
     }
     .subnav{
        max-height: 0;
     }
     .subnav__list{
        display: none;
     }
     .nav__item-link i{
        font-size: 18px;
        padding-left: 10px;
     }
   


}


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    header{
        padding: 0px 90px;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        /* background-color: var(--primary-color); */
        display: flex;
        justify-content: space-between;
    
    }
    .logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
    }
   
    .mobile-header__logo-img{
        display: block;
        height: 46px;
    }
    .mobile-header-menu-icon{
        font-size: 3rem;
        padding: 20px;
        padding-left: 0;
        color: #fff;
    }
    .product_list{
        grid-template-columns: auto auto;
    }
    .list_car li a{
        height: 100%;
    }
    .product_img{
        max-width: 100%!important;
        max-height: 400px!important;
    }
}


/* Mobile */
@media (max-width: 739px){
 
    .slider__list{
        width: 100vw;
    }
    .mySlides-img {
        width: 100%;
    height: 250px;
        /* width: auto;
        height: auto; */
    }
    .product_list{
        grid-template-columns: auto;
    }
    .product_img{
        max-width: 100%!important;
        max-height: 500px!important;
    }
    footer{
        padding-left: 20px;
    }
    .footer__info{
        flex-direction: column;
    }
  
 
}

/* PC */
@media (min-width: 1024px){
    .mobile-header__logo-img{
        display: none;
    }
    .hide-on-pc{
        display: none;
    }
    .nav-mobile-icon{
        display: none;
    }
   
}
