
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    /* padding: 0 20px; */
    background-color:#181818;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 55px;    
    z-index: 2;
}



.logo-img{
    width: 150px ;
    height: 48px;
}



.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;

    margin: 0;
    height: 100%;
    

}

.nav__item{
    display: inline-block;
    position: relative;
    width: 60%;
    height: 100%;
    text-align: center;
    /* flex: 1; */
    margin: auto;
 
}

.nav__item-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--header-text);
    font-weight: 500;
    position: relative;
    transition: color .2s ease-out;
    padding: 20px 30px;
    display: inline-block;
}

.nav__item-text{
    position: relative;
}

.nav__item-text::after{
    content: "";
    position: absolute;
    background-color: currentColor;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    -webkit-transition: width .2s ease-out, background-color .2s ease-out ;
    transition: width .2s ease-out, background-color .2s ease-out;
}
.nav__item-link:hover {
    color: var(--primary-color);
    transition: color .1s linear;
}
.nav__item-link:hover .nav__item-text::after{
    background-color: currentColor;
    width: 100%;
}

.subnav{
    display: none;
    position: absolute;
    top: calc(100%);
    background-color: #ccc;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    animation: drop-down linear forwards .4s;
    transform-origin: top center;
    z-index: 1;
}

.nav__item:hover  .subnav{
    display: block;
}

@keyframes drop-down {
    from{
        opacity: 0;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform:scaleY(1);
    }
}
.subnav__list{
    padding-left: 0;
    display: flex;
    align-items: center;
}

.subnav__item{
    width: 15%;
    list-style: none;
    text-align: left;
    line-height: 3;
    
    flex: 1;

}

.subnav__item-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--header-text);
    padding: 2px 30px;
    display: block;
    position: relative;
}

.subnav__item-text{
    position: relative;
}

.subnav__item-link:hover{
    color: var(--primary-color);
}

.subnav__item-text::after{
    content: "";
    position: absolute;
    background-color: currentColor;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    -webkit-transition: width .3s ease-out, background-color .2s ease-out;
    transition: width .3s ease-out, background-color .2s ease-out;
}
.subnav__item-link:hover .subnav__item-text::after{
    background-color: currentColor;
    width: 100%;
}
.subnav__item:hover  .subnav{
    display: block;
}
.info{
    flex: 1;
    height: 100%;
    padding-right: 10px;
}

.info__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.info__item{
    position: relative;
    padding: 0 12px ;
    cursor: pointer;
}

.info__icon{
    color: #fff;
    padding: 32px 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.info__icon:hover{
    color: var(--primary-color);
    transition: color linear 0.2s;
}




.slider{
    width: 100%;
    overflow: hidden;
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    

  }

.slider__list {
  width: 100vw;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
}

.slider__img{
    width: 100vw;
    height: 420px;
    object-fit: cover;
    object-position: 15% 25%;
    animation: zoom linear 6s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .9s;
    animation-name: fade;
    animation-duration: .9s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.1);
      }
  }
    
  

