:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#ccc;
    --primary-color:#5F9DF7;
    --header-text:#fff;
    --subheader-text:#505050;
    --mess-color:#ef2853;
    --footer-color:#a9a9a9;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(70deg,var(--primary-color), rgb(247, 47, 170));

}
::-webkit-scrollbar-track {

    /* -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); */
    
    background:#181818;
    
    }
@media (min-width: 100px){
    ::-webkit-scrollbar{
        width: 12px;
        height: 0;
    }
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.girl__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}