.main{
    width: 100vw;
    font-family: Roboto,Helvetica Neue,Arial;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    /* padding: 0 20px; */
    /* background-image: radial-gradient(#190521,#0b031d); */
    background-color: #181818;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 55px;    
    z-index: 3;
}



.logo-img{
    width: 150px ;
    height: 48px;
}
.nav{
    width: 40vw;
    padding: 0 10px;
    height: 100%;
}


.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    height: 100%;
}
.nav input{
    display: none;
 }
.nav__item{
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    text-align: center;
    flex: 1;
    margin: auto;
    cursor: pointer;
 
}

.nav__item-link{
    text-decoration: none;
    color: var(--header-text);
    font-weight: 300;
    position: relative;
    transition: color .2s ease-out;
    word-wrap: normal;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"roboto";
    font-size: 12.5px;
}

.nav__item-text{
    position: relative;
    /* width: 100%; */
    display: block;
  
  
}

.nav__item-text::after{
    content: "";
    position: absolute;
    background-color: #181818;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    transition: width .4s ease-out, background-color .2s ease-out;
}
.nav__item-link:hover {
    /* color: var(--primary-color); */
    color: #fff;
    transition: color .1s linear;
}
.nav__item-link:hover .nav__item-text::after{
    background-color: currentColor;
    width: 100%;
}
.hide-on-PC{
    display: none;
}
.subnav{
    display: none;
    position: absolute;
    top: 55px;
    /* background-color: #D8D9CF; */
    background-color: #181818;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 3%);
    animation: drop-down linear forwards .4s;
    transform-origin: top center;
    z-index: 3;
}

.nav__item:hover  .subnav{
    display: block;
}

@keyframes drop-down {
    from{
        opacity: 0;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform:scaleY(1);
    }
}
.subnav__list{
    padding-left: 0;
    display: flex;
    align-items: center;
}

.subnav__item{
    
    list-style: none;
    text-align: left;
    line-height: 3;
    padding: 0px 10px;
    flex: 1;

}

.subnav__item-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    /* color: var(--header-text); */
    color: #fff;
    padding: 2px 32px;
    display: block;
    position: relative;
}

.subnav__item-text{
    position: relative;
    color: #fff;
}

.subnav__item-link:hover{
    /* color: var(--primary-color); */
    color: #fff;
}

.subnav__item-text::after{
    content: "";
    position: absolute;
    background-color: currentColor;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    -webkit-transition: width .3s ease-out, background-color .2s ease-out;
    transition: width .3s ease-out, background-color .2s ease-out;
}
.subnav__item-link:hover .subnav__item-text::after{
    background-color: currentColor;
    width: 100%;
}
.subnav__item:hover  .subnav{
    display: block;
}
.info{
    flex: 1;
    height: 100%;
    padding-right: 20px;
}

.info__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.info__item{
    position: relative;
    /* padding: 0 6px ; */
    cursor: pointer;
}
/* .info__item:nth-child(3){
    /* margin-right: 3px;
    padding-right: 3px; */
    
/* .info__icon:nth-child(3){ */
    /* font-size: 32px;
    width: 100%;
    margin-right: 5px; */
/* }  */

.info__icon{
    color: #fff;
    padding: 32px 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.info__icon:hover{
    color: var(--primary-color);
    transition: color linear 0.2s;
}


.search__input{
    border: none;
    border-radius: 3px;
    line-height: 24px;
    outline: none;
    padding: 5px;
    
}

.info__search{
    margin: 0 12px;
    background-color: #fff;
    border-radius: 3px;
    height: 24px;

    display: flex;
    margin-right: 20px;
    position: relative;
}
.icon__search{
    text-align: end;
    width: 100%;
   padding: 0 5px;
   color: #000;
   font-size: 16px;
   opacity: 0.7;
   margin-top: 5px;
   margin-right: 5px;
   cursor: pointer;
}
.icon__search:hover{
    color: var(--primary-color)
}
.search__p{
    flex: 1;
    padding-right: 5px;
    cursor: text;
}
.search__text{
    color: #000;
    text-align: end;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 5px;
}

.search__history{
    z-index: 2;
    position: absolute;
    top: calc( 100% + 3px );
    left: 0;
    width: calc(100% + 50px);
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 3px #ccc;
    transform: translateY(-150%);
    transition: transform ease-in-out 0.4s;
}
.search__history-heading{
    width: 100%;
    display: flex;
}

.search__history-heading h3{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.5;
    padding: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #ccc;
    flex: 1;
  
}
.js-history.open{
    transform: translateY(0%);
}
.search__history-heading-btn{
    width: 24px;
    height: 24px;
    margin: 1px 5px;
    display: flex;
    cursor: pointer;
}

.search__history-heading-icon{
    font-size: 18px;
    opacity: 0.8;
    margin-top: 3px;
    cursor: pointer;
}
.search__history-heading-icon:hover{
    color: var(--primary-color);
  
}

.history__list{
    list-style: none;
    margin-bottom: 10px;
}
.history__text:hover{
    color: var(--primary-color);
}
.history__item{
    height: 32px;
    display: flex;
}
.history__text{
    color: #000;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}






.info__item:hover .notify_container{
    display: block;
}
.notify_container{
    position: absolute;
    right: -6vw;
    top: calc(81%);
    width: 240px;
    height: 60px;
    background-color: #ccc;
    box-shadow: 0 1px 2px #fff;
    align-items: center;
    display: none;
    z-index: 1;
}
.notify_text{
    color: #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: 400;
    transform: translate(-50%, -50%);
}
.info__item:hover .shopping_container{
    display: block;
}
.shopping_container{
    position: absolute;
    right: 0;
    top: calc(81%);
    width: 240px;
    height: 60px;
    align-items: center;
    display: none;
    z-index: 1;
    transition: 1s;
    transform-origin: top;
    animation: appear ease-in 0.3s;
}
@keyframes appear{
  
    0%{
        transform: translateY(-10%);
        opacity: 0;
        transform: scaleY(0.5);
    }
    100%{
        
        opacity: 1;
        transform: translateY(0);
    }
}
.shopping_text{
    color: #000;
    text-align: center;
    position: absolute;
    top: 200px;
    width: 100%;
    left: 50%;
    font-size: 16px;
    font-weight: 400;
    transform: translate(-50%, -50%);
}




.menu-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 460px;
    background-color: #fff;
    overflow-x: scroll;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 10%);
    transform: translateX(100%);
     /* display: block; */
    transition: transform ease-in-out 0.4s;
    z-index: 3;
}
.menu-modal.open{
    transform: translateX(0%);
}


.menu-modal-close{
    float: right;
    margin: 10px 10px;
    padding-left: 5px;

}

.menu-modal-close-icon{
    padding: 10px  ;
    font-size: 2.2rem;
    cursor: pointer;
}
.menu-modal-close-icon:hover{
    color: var(--primary-color);
    transition: .2s;
}

.menu-modal-container{
    margin-top: 30px;
    padding: 40px 50px;
}

.menu-modal-in4{
    text-align: center;
}

.menu-modal-img{
    width: 70%;
    transition: 0.5s;
}
.menu-modal-img:hover{
    transform: scale(1.03);
}

.menu-modal-img-shadow{
    width: 100%;
    margin: 20px 0; 
    box-shadow: 2px 5px 9px 5px rgb(235, 232, 232);
}

.menu-modal-text{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6;
    color: var(--subheader-text);
}

.menu-modal-header{
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.menu-modal-social{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.menu-modal-link{
    text-decoration: none;
    width: 48px;
    height: 48px;
    display: block;
    background-color: var(--primary-color);
    border-radius: 100%;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
.menu-modal-icon{
    font-size: 1.6rem;
    color: #fff;
}

.menu-modal-link:hover{
    color: #fff;
    background-color: #3abdc1;
}

.menu-modal-account{
    padding-top: 32px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.account-login,
.account-register{
    border: none;
    background-image: linear-gradient(to right,#5F9DF7,#FF8787);
    /* background: linear-gradient(45deg,#6167ab,rgb(84, 75, 143),#a77caa); */
    border-radius: 10px;
    width: 45%;
    height: 36px;
    color: #fff;
    cursor: pointer;
}

.account-login:hover,
.account-register:hover{
    color: var(--primary-color);
}


.account{
    background-color: rgba(0, 0,0,0.3);
    height:100vh;
    width:100vw;
    z-index:4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(-200%);
    transition: transform ease-in-out 0.4s;
}
.account.open{
    transform: translateY(0%);
}
.account__container{
    background-image: linear-gradient(to bottom right,#6997dd,#ce9cb4);
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
  
}
.account__container.open{
    display: flex;

}
.login-close{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
}
.login-close-icon{
    z-index: 3;
    font-size: 20px;
}
.login-close-icon:hover{
    color: var(--primary-color);
}
.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.login-container::before{
    position: absolute;
    bottom: 50%;
    left: 80%;
    width: 400px;
    height: 400px;
    content: "";
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to top right,rgb(117, 119, 187) ,rgb(103, 100, 160));
    filter: blur(1px);
    animation: login 6s ease-in-out 2s infinite alternate;
}
.login-container::after{
    position: absolute;
   top: 50%;
   right: 70%;
    width: 200px;
    height: 200px;
    content: "";
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to top right,rgb(142, 145, 245) ,rgb(145, 143, 190));
    filter: blur(2px);
    animation: login 5s ease-in-out infinite alternate;
}
@keyframes login {
    from{
        transform:translateY(0);
    }
    to{
        transform: translateY(100px);
    }
    
}
.form{
    background-color: rgba(239, 239, 239,0.3);
    width: 85%;
    height: 100%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: hidden;
  
    
}
.content{
    width: 90%;
    padding: 10%;
    padding-left: 17%;
    height: 80%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.content h1{
    color: #fff;
    margin-bottom: 30px;
}
.group{
    /* padding-top:8px; */
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    
}
.group-save{
    cursor: pointer;
    padding-top: 5px;
}
.group-save input{
    cursor: pointer;
}
.group-save label{
    font-size: 12px;
    color: #000;
    opacity: 0.6;
    position: relative;
    bottom: 2px;
}
.group input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 10px;
    height: 80%;
}

.content button{
    cursor: pointer;
    width: 80%;
    border: none;
    padding: 15px 0;
    position: absolute;
    background-image: linear-gradient(to right,#5F9DF7,#f1a4a4);
    color: #fff;
    bottom: 10px;
    border-radius: 10px;
}

.option{
    position: absolute;
    bottom: 10px;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
}
.changetype{
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    height: 40px;
    cursor: pointer;
}
.bg-active{
    position: absolute;
    width: 50%;
    left: 0;
    transition: 1s;
    background-color: #6379e2;
    height: 40px;
    z-index: -1;
    border-radius: 20px;
}
.changetype.active{
    color: #fff;
}
.form.login .content:nth-child(1){
    z-index: 2;
    animation: nextContent .8s ease-in-out 1 forwards;
}
.form.login .content:nth-child(2){
    z-index: 2;
    animation: outContent .8s ease-in-out 1 forwards;
}

@keyframes nextContent {
    from {
        transform: translate(100%,0px);
    }to{
        transform: translate(-10%,0px);
    }

}
@keyframes outContent {
    from {
        transform: translate(0,0px);
    }to{
        transform: translate(-110%,0px);
    }

}

.form.register .content:nth-child(1){
    z-index: 2;
    animation: outContent .8s ease-in-out 1 forwards;
}
.form.register .content:nth-child(2){
    z-index: 2;
    animation: nextContent .8s ease-in-out 1 forwards;
}




.group-2{
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
    display: none;
    width: 90%;
    height: 10%;
    margin: 0 auto;
    
    
}
.group-2__item{
    width: 50%;
    height: 80%;
    flex: 1;
    display: flex;
    color: #ccc;
    margin: 0 5px;
}
.group-2__item:first-child{
    background-color: #263966;
    height: 70%;
    border-radius: 3px;
}
.group-2__item:last-child{
    background-color: #fff;
    height: 70%;
    border-radius: 3px;
}
.group-2__icon{
    font-size: 16px;
    padding: 5px;
    margin-top: 2px;
}
.group-2__icon-2{
    background-image: linear-gradient(to bottom top , rgb(36, 189, 108),rgb(215, 93, 11));
    
}
.group-2__text{
    padding-top: 7px;
    margin-left: 3px;
}

.content button:hover{
    color: var(--primary-color);
}





.slider{
    width: 100%;
    /* height: 80vh; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0;
    flex-wrap: wrap;
    background-color: rgba(10,0,0,0.5);
    

  }

.slider__list {
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.slider__img{
    width: 100vw;
    height: 550px;
    object-fit: cover;
    object-position: 15% 25%;
    animation: zoom linear 6s;
    filter: brightness(90%);
}

.fade {
    animation-name: fade;
    animation-duration: .9s;
  }
  
  
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.1);
      }
  }

  


.footer{
    background-color: #212121;
    width: 100%;
    display: flex;
    margin:  auto;
    align-items: center;
    flex-direction: column;
  }
.footer__info{
    display: flex;
    margin-top: 16px;
}
.footer__list{
   
    padding-top: 32px;
    
    

}
.footer__img{
    width: 50%;
}
.footer__intro{
    font-size: 1.5rem;
    color: var(--footer-color);
    line-height: 1.6;
    margin-top: 20px;
}
.footer__contact{
    padding: 10px 0px;
}
.contact__item{
    padding: 5px;
}
.contact__icon{
    color: #fff;
    font-size: 16px;
    padding-right: 5px;
}
.contact__text{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.contact__text:hover{
    color: var(--primary-color);
}
.footer__item{
    margin-top: 20px;
    padding: 10px;
    display: flex;
}
.footer__icon{
    color: #04abf6;
    font-size: 24px !important;
    margin-right: 10px;
    padding-bottom: 5px;
    
}
.footer__text{
    color: #fff;
    font-size: 24px;
    padding-top: 5px;
}
.footer__social{
    padding: 14px;
    margin-top: 32px;
}
.social__item{
    font-size: 32px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.social__item:hover{
    color: var(--primary-color);
   
}


.go-to-top{
    scroll-behavior:smooth;
    display: block;
    position: fixed;
    bottom: 40px;
    right: 10px;
    background-color: transparent;
    border-radius: 5px;
    transform: translateX(150%);
    z-index: 2;
    transition: transform linear 0.2s;
}
.go-to-top.active {
    transform: translateX(0);
}  
.go-to-top__icon{
    color: #fff;
}


.product_item.viewlambogini,
.viewmorelambo.preslambo .js_btn_lambogini:nth-child(2),
.viewmorelambo.hidelambo .js_btn_lambogini:nth-child(1),
.product_item.viewferari,
.viewmoreferari.presferari .js_btn_ferari:nth-child(2),
.viewmoreferari.hideferari .js_btn_ferari:nth-child(1),
.product_item.viewporsche,
.viewmoreporsche.presporsche .js_btn_porsche:nth-child(2),
.viewmoreporsche.hideporsche .js_btn_porsche:nth-child(1),
.product_item.viewrollsroyce,
.viewmorerollsroyce.presrollsroyce .js_btn_rollsroyce:nth-child(2),
.viewmorerollsroyce.hiderollsroyce .js_btn_rollsroyce:nth-child(1){
    display: none;
}

