/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
/* 1.begin - thủ tục trả gop */

.tragop__container{
    background-color: #fff;
    width: 80vw;
    height: 90vh;
    /* overflow: hidden; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    overflow: scroll;
  
}
.tragop__container.open{
    display: flex;
}
.tragop-close{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
}
.tragop-close-icon{
    z-index: 3;
    font-size: 20px;
}
.tragop-close-icon:hover{
    color: var(--primary-color);
}
.tragop-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    height: 90%;
    /* display: flex;
    justify-content: center;
     */
}
.form-tragop-content {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}
.header-tragop-content {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.text-center {
    text-align: center;
}
.row {
    display: flex;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}
.col-third {
    flex: 1;
    /* width: 33,333%; */
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.col-half {
    width: 50%;
}
.box-icon {
    font-size: 20px;
    color: #c4172c;
}
.box-text {
    font-size: 20px;
    margin-top: 5px;
    color: #c4172c;
}
.link-lienhe {
    text-decoration: none;
    color: #c4172c;
}
.link-lienhe:hover{
    color: red;
}
.group-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.control {
    margin-top: 5px;
    width: 96%;
    height: 32px;
    padding-left: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
.control:focus {
    border: 2px solid black;
}
#noidung {
    margin-top: 5px;
    max-width: 96%;  
    min-width: 96%;
    min-height: 158px;
    padding-left: 5px;
    padding-top: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
#noidung:focus {
    border: 2px solid black;
}
#lienhe {
    padding: 5px;
    background-color: #c4172c;
    color: #fff;
    border: 1px solid #c4172c;
    border-radius: 5%;
}
#lienhe:hover {
    background-color:orangered;
    border: 1px solid orangered;
    cursor: pointer;
    border-radius: 5%;
}
.table-content {
    width: 100%;
    margin-top: 40px;
   
}
.table-content p {
    text-align: center;
    font-size: 18px;
}
.table-content{
    font-size: 16px;
}
.table-u {
    margin-top: 20px;
    width: 100%;
}
.table-u tr:nth-child(2n){
    background-color: #ccc;
}
.table-u td:nth-child(2) {
    text-align:center;
}
.table-u td:nth-child(3) {
    text-align:center;
}
.table-u td:nth-child(4) {
    text-align:center;
}
.table-u tr:nth-child(2){
    text-align: center;
}
.table-u td:nth-child(1){
    padding-left: 5px;
}

.determinate {
    width: 100%;
    margin: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* padding: 50px; */
}
.number-determinate {
    /* padding: 4px; */
    width: 40px;
}
.number-determinate a i{
    color: black;
    font-size: 30px;
}
.number-determinate a:hover {
    color: #ccc;
}
.heading {
    text-align: center;
}
.main-item {
    margin-top: 20px;
}
.main-item p {
    font-weight: 500;
}
.main-item ul {
    list-style-type: circle;
}
.main-item ul li {
    padding: 10px;
}
.image-item {
    position: relative;
    text-align: center;
}
.image-item img {
    /* width: 450px;
    height: 300px; */
    max-width: 80%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* end - thủ tục trả góp */

/* 2.begin - tin tức-trang chu */


.nav-tintuc {
    /* background-image: linear-gradient(to bottom right,#6997dd,#ce9cb4); */
   background-color: #fff;
    width: 80vw;
    height: 90vh;
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 4;
    /* overflow: scroll; */
    
}
.nav-tintuc.open{
    display: flex;
}

.tintuc-close{
    position: absolute;
    z-index: 7;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
}
.tintuc-close-icon{
    z-index: 7;
    font-size: 20px;
}
.tintuc-close-icon:hover{
    color: var(--primary-color);
}
.tintuc-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form-congcu{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba( 176, 196, 222, 0.3 );
    height: 56px;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 6;
    box-shadow: 1px 1px lightsteelblue;
    
}

#search-box {
    display: flex;
   
    margin-left: 8px;
    background-color: #fff;
    height: 38px;
    border-radius:30px;

}
  
 #search-box #search-text {
    border: none;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#search-box #search-btn {
    background-color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    float: right;
    
}
.trangchu, .video, .muckhac {
    text-align: center;
    width: 316px;
    padding: 10px 80px 10px 80px;
}
.trangchu, .video, .muckhac:hover{
   cursor: pointer;
   
}

.trangchu a i, .video a i, .muckhac a i{
    font-size: 18px;
    padding: 10px;
    color: black;
}


.forms{
    /* margin-top: 40px; */
    margin-top: 60px;
    flex: 1;
    height: calc(90vh-56px);
    width: 100%;
    overflow: hidden;
    /* height: 100%; */
    /* background-color: black; */
    /* overflow: scroll; */
}


.forms.tintuc .contents:nth-child(1){
    z-index: 2;
    animation: nextContents1 .5s ease-in-out 1 forwards;
}
.forms.tintuc .contents:nth-child(2){
    z-index: 2;
    animation: outContents1 .5s ease-in-out 1 forwards;
}




@keyframes nextContents1 {
    from {
        transform: translate(-100%,0px);
    }to{
        transform: translate(0,0px);
    }
}
@keyframes outContents1 {
    from {
        transform: translate(0,-101%);
    }to{
        transform: translate(100%,-101%);
    }

}
@keyframes nextContents {
    from {
        transform: translate(100%,-101%);
    }to{
        transform: translate(-7%,-101%);
    }
}
@keyframes outContents {
    from {
        transform: translate(0,0px);
    }to{
        transform: translate(-110%,0px);
    }

}

.forms.video .contents:nth-child(1){
    z-index: 2;
    animation: outContents .5s ease-in-out 1 forwards;
}
.forms.video .contents:nth-child(2){
    z-index: 2;
    animation: nextContents .5s ease-in-out 1 forwards;
}
.contents{
    width: 100%;
    height: 100%;
}
.tintuc-xe{
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    float: left;
    font-size: 16px;
    /* overflow: scroll; */
    position: relative;
}
/* thang doc ben trai */
.form-choice {
    background:rgba( 176, 196, 222, 0.3 );
    width: 20%;
    height:calc(90vh - 56px);
    padding: 10px;
    box-shadow: 1px 1px lightsteelblue;
}

.form-choice ul li{
    padding-top: 8px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: left;
}
.form-choice li i {
    margin-right: 5px;
    color: black;
}
.form-choice li a {
    text-decoration: none;
    color: black;
}
.form-choice li a:hover{
    color: #ccc;
}

.video:hover {
    background-color:#ccc;
}
.trangchu:hover {
    background-color:#ccc;
}
.muckhac:hover{
    background-color: #ccc;
}
.tintuc-xe .form-content-tintuc {
    /* width: 70%; */
    height: calc(90vh - 56px);
    overflow: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    background: white;
    padding: 20px;
    
}

/* trang chu */
.car {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.xe-item {
    width: 100%;
}
.row-tt {
    width: 100%;
    margin-bottom: 10px;
    display: flex;;
}
.imgnews-1 {
    width: 100%;
    
}
.imgnews-1 img {
    width: 96%;
    height: auto;;
}
.tilte-1 a, .tilte-2 a {
    text-decoration: none;
    color: black;
    font-size: large;
}
.tilte-1 a:hover, .tilte-2 a:hover {
    color: aqua;
}
.tilte-1 {
    width: 96%;
}
.tilte-1 p{
    font-size: 14px;
}
.imgnews-2 {
    width: 90%;
    height: auto;
}
.lamborghini {
    width: 100%;   
}
.lamborghini .item {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contents:nth-child(2){
    width: 80vw;
}
 

/* phan video */
.tintuc-video{
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    float: left;
    font-size: 16px;
    /* overflow: scroll; */
    position: relative;
}
.video-container{
    height: calc(90vh - 56px);
    overflow: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.time {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px;
}

.icon {
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
}
.icon p{
    padding-right: 10px;
    font-size: 10px;
    font-weight: 300;
    float: left;
}
.video-tt {
    width: 100%;
}
.video-item {
    width: 100%;
    height: auto;
}
.tilte-2 p {
    text-align: left;
    margin-left: 20px;
}
.video-tt .tilte-2 p:hover {
    color: aqua;
}
.tilte-2,.time{
   padding-left: 25px;
   width: 20vw;
}



 





















